{% extends "base.html" %} {% block content %}

<h2>PLANT DISEASE DETECTION using ML MODEL</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose image:
        </label>
        <input type="file" name="files[]" multiple="true" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview" style="display:flex;">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>

    <!-- <div class="loader" style="display:none;"></div>
     -->

     {% if data %}
     <h1>{{data[1]}}</h1>
     {% endif %}

     <div class="result"></div>

</div>

{% endblock %}